<app-message-mask [isShowMsg]="isShowMsg"></app-message-mask>
<!-- Список КС-6а для конкретной сметы -->
<ng-container *ngIf="ks6aItems.length">
  <!-- Toolbar -->
  <div *transloco="let t" class="flex justify-end items-center p-1">
    <div class="flex items-center">
      <div class="flex items-center">
        <span class="pr-2 font-bold">{{ t('onlyBalance') }}:</span>
        <input
          type="checkbox"
          [checked]="isOnlyBalance"
          class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 cursor-pointer"
          (change)="isOnlyBalance = !isOnlyBalance"
        >
      </div>
      <div class="flex items-center pl-2">
        <span class="pr-2 font-bold">{{ t('addPeriod') }}:</span>
        <i [attr.data-icon]="'add_box'" class="filled text-[color:var(--green-90)] cursor-pointer hover:scale-125 duration-100" (click)="addKs6aPeriod()"></i>
      </div>
    </div>
  </div>
  <app-hbf-content [resizeTable]="false">
    <!-- Header -->
    <ng-template #headerTpl>
      <tr *transloco="let t" class="text-sm">
        <th colspan="2" class="z-[1] border-0 border-b border-r border-solid border-[color:var(--gray-90)] sticky left-0 bg-[color:var(--primary-25)]">
          {{ t('number') }}
        </th>
        <th rowspan="2" class="z-[1] min-w-[80px]">{{ t('wbsCode') }}</th>
        <th rowspan="2" class="z-[1] min-w-[80px]">{{ t('cbsCode', { volume: 'I' }) }}</th>
        <th rowspan="2" class="z-[1] min-w-[80px]">{{ t('cbsCode', { volume: 'II' }) }}</th>
        <th rowspan="2" class="z-[1] min-w-[333px] sticky left-[108px] bg-[color:var(--primary-25)]">
          <div class="px-[27px]">{{ t('workType') }}</div>
        </th>
        <th rowspan="2" class="z-[1] min-w-[200px]">{{ t('rateNumber') }}</th>
        <th rowspan="2" class="z-[1] min-w-[75px] sticky left-[410px] bg-[color:var(--primary-25)]">{{ t('unitMeasure') }}</th>
        <th rowspan="2" class="z-[1] sticky left-[487px] bg-[color:var(--primary-25)] min-w-[95px]">{{ t('volumeWorkEstimate') }}</th>
        <!-- <th rowspan="2" class="min-w-[100px]">{{ t('estimateCost') }}</th> -->
        <!-- Выполнение/Остатки -->
        <ng-container *ngFor="let ks6aPeriod of ks6aItems[0].ks6a.ks6aPeriods; let index = index">
          <!-- Выполнение -->
          <ng-container *ngIf="ks6aPeriod.periodType.code === 'execution'; else remainderTmpl">
            <ng-container *ngIf="!isOnlyBalance">
              <th
                colspan="2"
                class="min-w-[190px] bg-[color:var(--green-25)] border-0 border-b border-r border-solid border-[color:var(--gray-90)]"
                [ngClass]="{ 'bg-[color:var(--yellow-25)]': !ks6aPeriod.isFixed }"
              >
                <!-- Загаловок выбора периода (месяц. год) для нефиксированных периодов -->
                <ng-container *ngIf="!ks6aPeriod.isFixed; else fixedTmpl">
                  <div class="flex">
                    <nz-date-picker
                      ngClass="date-input-not-fix"
                      nzMode="month"
                      nzSize="small"
                      nzBorderless
                      [nzFormat]="monthFormat"
                      [nzBackdrop]="true"
                      [nzAllowClear]="false"
                      [(ngModel)]="ks6aPeriod.periodDate"
                      (ngModelChange)="onChangeKs6aPeriod($event, index)"
                    ></nz-date-picker>
                    <!-- Контекстное меню -->
                    <a nz-dropdown [nzDropdownMenu]="menu">
                      <i data-icon="more_vert" class="text-gray-400"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu nzSelectable>
                        <!-- Удаление периода -->
                        <li nz-menu-item (click)="deletePeriod(ks6aPeriod.id)">
                          <i data-icon="delete" class="text-red-300"></i>
                          {{ t('deletePeriod') }}
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                  </div>
                </ng-container>
                <!-- Заголовок фиксированного периода -->
                <ng-template #fixedTmpl>
                  {{ getExecutionDateLabel(ks6aPeriod) | uppercase }}
                </ng-template>
              </th>
            </ng-container>
          </ng-container>
          <!-- Остатки -->
          <ng-template #remainderTmpl>
            <th
            *transloco="let t"
            colspan="2"
            class="min-w-[170px] bg-[color:var(--purple-25)] border-0 border-b border-r border-solid border-[color:var(--gray-90)]"
          >
            {{ t('balance') }} {{ getExecutionDateLabel(ks6aPeriod, 'dd.MM.yyyy') | uppercase }}
          </th>
          </ng-template>
        </ng-container>
        <!-- Итого по всем периодам -->
        <th
          colspan="2"
          class="border-0 border-b border-r border-solid border-[color:var(--gray-90)] bg-red-200 min-w-[200px]"
        >
          {{ t('totalAllPeriods') }}
        </th>
      </tr>
      <tr *transloco="let t" class="text-sm">
        <th class="min-w-[45px] sticky left-0 bg-[color:var(--primary-25)]">{{ t('itemNo') }}</th>
        <th class="min-w-[52px] sticky left-[47px] bg-[color:var(--primary-25)]">{{ t('estimatePosition') }}</th>
        <ng-container *ngFor="let ks6aPeriod of ks6aItems[0].ks6a.ks6aPeriods">
          <!-- Подзаголовки выполнение/остатки -->
          <!-- Выполнение -->
          <ng-container *ngIf="ks6aPeriod.periodType.code === 'execution'; else remainderTmpl">
            <ng-container *ngIf="!isOnlyBalance">
              <th
                class="bg-[color:var(--green-25)]"
                [ngClass]="{
                  'bg-[color:var(--yellow-25)]': !ks6aPeriod.isFixed
                }"
              >{{ t('ks6aBalance') }}</th>
              <th
                class="bg-[color:var(--green-25)]"
                [ngClass]="{
                  'bg-[color:var(--yellow-25)]': !ks6aPeriod.isFixed
                }"
              >{{ t('ks6aClose') }}</th>
            </ng-container>
          </ng-container>
          <!-- Остатки -->
          <ng-template #remainderTmpl>
            <th
              class="bg-[color:var(--purple-25)]"
              [ngClass]="{
                'bg-[color:var(--yellow-25)]': !ks6aPeriod.isFixed
              }"
            >{{ t('ks6aBalance') }}</th>
            <th
              class="bg-[color:var(--purple-25)]"
              [ngClass]="{
                'bg-[color:var(--yellow-25)]': !ks6aPeriod.isFixed
              }"
            >{{ t('ks6aClose') }}</th>
          </ng-template>
        </ng-container>
        <!-- Подзаголовки итого по всем периодам -->
        <th class="bg-red-200">{{ t('ks6aClose') }}</th>
        <th class="bg-red-200">{{ t('ks6aBalance') }}</th>
      </tr>
    </ng-template>
    <!-- Body -->
    <ng-template #bodyTpl>
      <ng-container *ngFor="let ks6aItem of ks6aItems; let idx = index" class="text-sm">
        <!-- Строка -->
        <tr class="text-sm">
          <td class="sticky left-0 bg-white">{{ idx + 1 }}</td>
          <td class="sticky left-[47px] bg-white">{{ ks6aItem.number }}</td>
          <td>{{ ks6aItem.wbsCode }}</td>
          <td>{{ ks6aItem.cbsCodeI }}</td>
          <td>{{ ks6aItem.cbsCodeII }}</td>
          <td class="sticky left-[108px] bg-white">
            <div class="px-[27px]">{{ ks6aItem.name }}</div>
          </td>
          <td>{{ ks6aItem.code || '--' }}</td>
          <td class="sticky left-[410px] bg-white">{{ ks6aItem.unitMeasure }}</td>
          <td class="sticky left-[487px] bg-white">{{ ks6aItem.volume }}</td>
          <!-- <td>{{ ks6aItem.cost }}</td> -->
          <!-- Выполнение/Остатки -->
          <ng-container *ngFor="let ks6aPeriod of ks6aItems[0].ks6a.ks6aPeriods">
            <!-- Выполнение -->
            <ng-container *ngIf="ks6aPeriod.periodType.code === 'execution'; else remainderTmpl">
              <ng-container *ngIf="!isOnlyBalance">
                <td>--</td>
                <td>{{ getExutionPeriodVolume(ks6aPeriod.periodDate, ks6aItem) }}</td>
              </ng-container>
            </ng-container>
            <!-- Остатки -->
            <ng-template #remainderTmpl>
              <td>--</td>
              <td>{{ getRemainderPeriodVolume(ks6aPeriod.periodDate, ks6aItem) }}</td>
            </ng-template>
          </ng-container>
          <!-- Итого -->
          <td>{{ ks6aItem.total.quantityVolume }}</td>
          <td>{{ ks6aItem.total.customerVolume }}</td>
        </tr>
        <!-- Исполнители -->
        <tr *ngFor="let ks6aItemContractor of ks6aItem.ks6aItemContractors;" class="text-sm font-bold">
          <td colspan="2"></td>
          <td colspan="4" class="sticky left-0 bg-white border border-solid border-[color:var(--gray-90)]">{{ ks6aItemContractor.contractor.name }}</td>
          <td colspan="3"></td>
          <!-- Выполнение/Остатки -->
          <ng-container *ngFor="let ks6aPeriod of ks6aItems[0].ks6a.ks6aPeriods">
            <!-- Выполнение -->
            <ng-container *ngIf="ks6aPeriod.periodType.code === 'execution'; else remainderTmpl">
              <ng-container *ngIf="!isOnlyBalance">
                <td>--</td>
                <!-- Не фиксированные -->
                <ng-container *ngIf="!ks6aPeriod.isFixed; else fixedTmpl">
                  <td>
                    <input
                      nz-input
                      type="number"
                      class="p-0"
                      min="0"
                      [value]="getContractorExutionPeriodVolume(ks6aPeriod.periodDate, ks6aItemContractor.executions)"
                    />
                  </td>
                </ng-container>
                <!-- Фиксированные -->
                <ng-template #fixedTmpl>
                  <td>{{ getContractorExutionPeriodVolume(ks6aPeriod.periodDate, ks6aItemContractor.executions) }}</td>
                </ng-template>
              </ng-container>
            </ng-container>
            <!-- Остатки -->
            <ng-template #remainderTmpl>
              <td>--</td>
              <td>{{ getContractorExutionPeriodVolume(ks6aPeriod.periodDate, ks6aItemContractor.executions) }}</td>
            </ng-template>
          </ng-container>
          <!-- Итого -->
          <td>{{ ks6aItemContractor.total.quantityVolume }}</td>
          <td>{{ ks6aItemContractor.total.customerVolume }}</td>
        </tr>
      </ng-container>
    </ng-template>
    <!-- Footer -->
    <ng-template #footerTpl>
      <div *transloco="let t; read: 'info'">{{ t('allRecords', { count: ks6aItems.length}) }}</div>
    </ng-template>
  </app-hbf-content>
</ng-container>
