:root {
  --icon-size: 24px;
  --font-monospace: 'Fira Mono', monospace, sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-base: 'Inter', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
