<div class="top-0 sticky z-[2] p-1 flex items-center border-0 border-b-2 border-solid border-gray-300 bg-gradient-to-r from-[color:var(--primary-75)] to-[color:var(--primary-50)]">
  <div *transloco="let t" (click)="goHome()" class="pl-1 flex items-center flex-1 text-white cursor-pointer">
    <i data-icon="domain"></i>
    <span class="pl-1">{{ t('appName') }}</span>
  </div>
  <i data-icon="settings" (click)="goSettings()" class="pr-2 text-white hover:text-gray-300 duration-200 cursor-pointer"></i>
  <div class="flex items-center">
    <i data-icon="translate" class="pr-2 text-white"></i>
    <ng-select
      class="w-32"
      bindValue="id"
      bindLabel="label"
      [items]="getLangs()"
      [clearable]="false"
      [(ngModel)]="currentLang"
      (change)="switchLang($event)"
    >
    </ng-select>
  </div>
</div>
