<ul class="flex overflow-x-auto overflow-y-hidden mt-1 mb-0 h-10">
  <li
    *ngFor="let item of items; let idx = index"
    class="ml-1 text-center flex items-center justify-center select-none cursor-pointer rounded-t-sm p-1 duration-200"
    [ngClass]="{
      'bg-[color:var(--primary-25)]': idx === tabIndex,
      'mt-1 bg-gray-200 text-gray-500': idx !== tabIndex
    }"
    (click)="tabClick(idx)"
  >
    <div class="flex items-center justify-center p-2 min-w-[70px]">
      <ng-container *transloco="let t; currentLang as currentLang">
        <ng-container *ngIf="currentLang === 'ru'">
          <span>{{ item.name }}</span>
        </ng-container>
        <ng-container *ngIf="currentLang === 'en'">
          <span>{{ item.nameEng }}</span>
        </ng-container>
      </ng-container>
    </div>
  </li>
</ul>
