<nav class="flex py-1 pl-2" aria-label="Breadcrumb">
  <ol class="not-first:pl-0 inline-flex items-center space-x-1">
    <li
      *ngFor="let breadcrumb of (breadcrumbs$ | async)"
      class="inline-flex items-center text-[color:var(--primary-150)] hover:text-[color:var(--primary-190)] border-0 border-solid border-r border-gray-300"
    >
      <a
        [routerLink]="breadcrumb.url"
        class="text-[color:var(--primary-150)] hover:text-[color:var(--primary-190)] inline-flex items-center no-underline"
      >
        {{ breadcrumb.label }}
        <i data-icon="chevron_right"></i>
      </a>
    </li>
  </ol>
</nav>
