<div class="flex items-center">
  <app-route-go #go (click)="go.routeGo('project/'+projectIdSelect)"></app-route-go>
  <app-breadcrumb class="pl-2"></app-breadcrumb>
</div>
<app-message-mask [isShowMsg]="isShowMsg"></app-message-mask>

<!-- Список смет для конкретного объекта сметы -->
<app-hbf-content *ngIf="estimates.length">
  <!-- Header -->
  <ng-template #headerTpl>
    <tr *transloco="let t">
      <th class="w-72">{{ t('kks') }}</th>
      <th class="w-72">{{ t('local-estimate-number') }}</th>
      <th>{{ t('name') }}</th>
    </tr>
  </ng-template>
  <!-- Body -->
  <ng-template #bodyTpl>
    <tr *ngFor="let estimate of estimates">
      <td
        class="text-blue-800 underline cursor-pointer"
        (click)="handlerEstimate(estimate)"
      >{{ estimate.code }}</td>
      <td>{{ estimate.localEstimateNumber }}</td>
      <td>
        <ng-container *transloco="let t; currentLang as currentLang">
          <span *ngIf="currentLang === 'ru'">{{ estimate.name }}</span>
          <span *ngIf="currentLang === 'en'">{{ estimate.nameEng }}</span>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <!-- Footer -->
  <ng-template #footerTpl>
    <div *transloco="let t; read: 'info'">{{ t('all-records', { count: estimates.length}) }}</div>
  </ng-template>
</app-hbf-content>
