<app-message-mask [isShowMsg]="isShowMsg"></app-message-mask>
<router-outlet (activate)='componentShow = true' (deactivate)='componentShow = false'></router-outlet>
<!-- Список смет для конкретного объекта сметы -->
<ng-container *ngIf="estimates.length && !componentShow" >
  <app-hbf-content [resizeTable]="true">
    <!-- Header -->
    <ng-template #headerTpl>
      <tr *transloco="let t">
        <th class="w-72">{{ t('kks') }}</th>
        <th class="w-72">{{ t('localEstimateNumber') }}</th>
        <th>{{ t('name') }}</th>
      </tr>
    </ng-template>
    <!-- Body -->
    <ng-template #bodyTpl>
      <tr *ngFor="let estimate of estimates">
        <td
          class="text-blue-800 underline cursor-pointer"
          (click)="handlerEstimate(estimate)"
        >{{ estimate.code }}</td>
        <td>{{ estimate.localEstimateNumber }}</td>
        <td>
          <ng-container *transloco="let t; currentLang as currentLang">
            <ng-container *ngIf="currentLang === 'ru'">
              <span>{{ estimate.name }}</span>
            </ng-container>
            <ng-container *ngIf="currentLang === 'en'">
              <span>{{ estimate.nameEng }}</span>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <!-- Footer -->
    <ng-template #footerTpl>
      <div *transloco="let t; read: 'info'">{{ t('allRecords', { count: estimates.length}) }}</div>
    </ng-template>
  </app-hbf-content>
</ng-container>
